<% layout('layout/boilerplate')%>
  <style>
    body {

      background-image: url(https://res.cloudinary.com/dg92t6syv/image/upload/v1625848600/YelpCamp/topoMapBG-tan_neasn4.svg);
      background-repeat: repeat;
    }

    /* FILTER CLASSES */
    .filtered {
      display: none;
    }

    .unfiltered {
      display: block;
    }
  </style>
  <div class="container-bg">
    <div class="content-container-pad">
      <div id="clusterMap"></div>
      <hr>
      <h1>All Campgrounds</h1>
      <div class='mb-3'>
        <a href="/campgrounds/new">Add Camp</a>
      </div>

      <% for (let campground of campgrounds) {%>
        <div class='card mb-3 mx-auto'>
          <div class='row'>
            <div class='col-md-4'>
              <% if(campground.images.length) { %>
                <img loading="lazy" class="img-fluid lazyload"
                  src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626972492/YelpCamp/img-noCamp_ursph7.jpg"
                  data-src="<%=campground.images[0].url%>" alt="<%=campground.title%>">
                <% } else { %>
                  <img loading="lazy" class="img-fluid lazyload"
                    data-src="https://res.cloudinary.com/dg92t6syv/image/upload/v1626972492/YelpCamp/img-noCamp_ursph7.jpg"
                    alt="No campground image was uploaded">
                  <% } %>
            </div>
            <div class='col-md-8 pb-2'>
              <h5 class='card-title mt-2 camp-card-details'>
                <%=campground.title%>
              </h5>
              <p class='card-text camp-card-details'>
                <%=campground.description%>
              </p>
              <p class="camp-card-details"><small class='text-muted'>
                  <%=campground.location%>
                </small></p>
              <a class="btn btn-primary camp-card-btn" href="/campgrounds/<%=campground._id%>">View
                <%=campground.title%>
              </a>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>
  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = { features: <% - JSON.stringify(campgrounds) %>}
  </script>
  <script src="/javascripts/clusterMap.js"></script>

  <!-- LAZY LOAD IMAGES PLUGIN-->
  <!-- https://github.com/tuupola/lazyload -->
  <!--
    if <img loading="lazy".../> doesn't work, use the plugin
  -->
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  <script>
    lazyload();
  </script>
